.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    flex-direction: row;
  }
}
