.loginPage {
  padding: 20px;
}

.loginContent {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textWrapper {
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
}

.header {
  color: #2bbbd2;
  font-size: 45px;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .loginPage {
    padding: 25px;
  }
  .header {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .loginPage {
    padding: 25px;
  }
  .loginContent {
    flex-direction: row;
  }
  .header {
    text-align: center;
  }

  .textWrapper {
    width: 60%;
  }
}
