/* Remove chrome autofill color from inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}

.conactForm {
  background-color: transparent;
  /* width: 450px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.formFieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 100%;
  border: 1px solid #9ba3af;
  border-radius: 5px;
  padding: 8px;
  padding-left: 15px;
  height: 40px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus {
  border: 2px solid #86d86d;
}

.errorMessage {
  font-size: 12px;
  color: red;
}

.formBtn {
  /* border: 1px solid black; */
  padding: 8px 5px 8px 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  background-color: #2bbbd2;
  align-self: center;
  color: #fff;
  font-size: 15px;
  height: 40px;

  transition: background-color 250ms ease-in-out;
}

.formBtn:hover {
  background-color: #19b88f;
}
